<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:name=".MyApplication"
        >

        <activity
            android:name=".FragmentCustomerHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".BusinessBlockSlotsActivity"
            android:exported="false" />
        <activity
            android:name=".MyAppointmentsActivity"
            android:exported="false" />
        <activity
            android:name=".BusinessHoursActivity"
            android:exported="false" />
        <activity
            android:name=".BookingActivity"
            android:exported="false" />
        <activity
            android:name=".BusinessScheduleSetupActivity"
            android:exported="false" />
        <activity
            android:name=".DialogAddReviewActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FavoritesActivity"
            android:exported="false" />
        <activity
            android:name=".BusinessDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".BrowseBusinessesActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MyBusinessMainActivity"
            android:exported="false" />
        <activity
            android:name=".SetProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".BusinessMainActivity"
            android:exported="false" />
        <activity
            android:name=".ClientMainActivity"
            android:exported="false" />

        <activity
            android:name=".ChatActivity"
            android:exported="false" />

        <activity
            android:name=".ClientChatsActivity"
            android:exported="false" />

        <receiver
            android:name=".NotificationReceiver"
            android:exported="false" />

    </application>

</manifest>